.imageOverlay {
  display: flex;
  margin: 0 auto;
  position: relative;
  max-width: 600px;

  &__details {
    display: flex !important;
    flex-direction: column !important;
  }
  &__image {
    width: 500px;
    height: 300px;
    right: 0;
  }

  &__content {
    flex: 1 0 auto;
  }
}

.img-banner {
  float: left;
  object-fit: cover;
}
