.pictureTile {
  width: 345px;
  position: relative;
  min-height: 550px;
  float: left;
  margin: 1em;
  
  &__header span {
    min-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__text--description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__picture {
    height: 0;
    padding-top: 56%;
  }
}

button {
  margin-top: 1em;
  float: right;
  position: absolute !important;
  bottom: 1em;
  right: 1em;
  margin-left: -1em;
}