.App {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 3em;
  align-items: center;

  &.loading {
    opacity: 0.5em;
  }
}

.MuiInputBase-input {
  color: white !important;
  font-size: 2em !important;
  padding: .25em !important;
}

.error-msg {
  margin: 0 auto !important;
  margin-top: 5em !important;
  opacity: 0.6;
}

@media (max-width: 767px) {
  .App {
    display: block;
  }
}